.App {
  text-align: center;
  background: linear-gradient(rgba(183, 227, 209, 1), transparent);
  height: 100vh;

}

.Container {
  display: flex;
  /*align-items: center;*/
  /*justify-content: center;*/
  /*filter: blur(4px);*/
  /*width: 100vw;*/
}

.IndividualCard {
  border-radius: 16px;
  height: 215px;
  width: 215px;
  display: flex;
  margin: 2em;
  flex-direction: column;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.LightBoxContainer {
  height: 550px;
  width: 500px;
  background-color: #FFFFFF;
  display: flex;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  padding: 2em;
  border-radius: 32px;
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.LightBoxContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.CloseButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.IndividualCard:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.headingContainer {
  padding: 2em;
}

.headingTitle {
  margin: 0px;
}


.CardContent {
  background-color: #FFFFFF;
  height: 100px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#BlurredView {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
